#main {
    background-color: rgba(245, 180, 0, .25);
    padding: 20px 0;
}

#page-header, #page-footer {
    font-family: Oswald;
    color: #444;
}

#page-footer {
    background-color: lightgrey;
}

.nav-item {
    margin: 0 .5em;
}